//Logging

.loggingButtons {
  display: flex ;
  justify-content: flex-end;
  padding-top: 1rem;
  margin-right: 10%;
button{   font-size: 13px;
  margin-top: 9.5px;
  background-color: white;
  text-decoration: none;
  border: none;
  a {
    font-size: 13px;
    margin-left: 20px;
    color: grey;
    text-decoration: none;
    text-transform: none;
  }


}

}
//Navigation

.navigation {
  width: 100vw;
  height: 12px;
  margin-top: 1rem;


  nav {

    margin-right: 10%;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        display: inline-block;
        a {
          font-size: 15px;
          margin-left: 20px;
          color: $color-black;
          coursor: pointer;
          text-decoration: none;
          text-transform: none;
        }
      }

  }}
}

// Header

.headerImage {
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-position: -14rem 0;
  height: 30rem;

}

.headerMain {
  margin-top: 5rem;
  .headerHeadline {
    h1 {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
    }
    margin-bottom: 1rem;
  }
  .decorationImage1 {
    background-image: url("../../assets/Decoration.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    // margin-left: 7rem;
    width: 13rem;
  }
  .headerButtons {
    padding-left: 2.5rem;
    button {
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      display: inline-block;
      font-size: 1.3rem;
      height: 5rem;
      width: 10rem;
      &:first-of-type {
        margin-right: 2rem;
      }
      a {
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

// HomeThree columns

.threeColumns {
  background-color: $color-yellow;
  margin: 0.2rem 0;

  .columnInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
    h1 {
      text-align: center;
      color: #5E5322;
      font-weight: 300;
      font-size: 90px;
      line-height: 122px;
    }
    h5 {
      color: #3C3C3C;
      font-size: 18px;
      text-align: center;
      margin-bottom: 28px;
      text-transform: uppercase;
    }
    p {
      color: #3C3C3C;
      font-size: 16px;
      font-family: $font-alt;
      font-weight: 300;
      text-align: center;
      width: 100%;
    }
  }
}

// Four steps

.fourSteps {
  margin-top: 2rem;
  .fourStepsHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    .decorationImage2 {
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 4rem;
      margin-left: 1rem;
      margin-top: 0.5rem;
      width: 13rem;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
  h5 {
    color: #3C3C3C;
    font-size: 18px;
    text-align: center;
    margin-bottom: 28px;

  }
  }
  .fourStepsSteps {
    background-color: $color-grey;
    .fourStepsStep {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 1rem;
      text-align: center;
      .fourStepsImage1 {
        background-image: url("../../assets/Icon-1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage2 {
        background-image: url("../../assets/Icon-2.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage3 {
        background-image: url("../../assets/Icon-3.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage4 {
        background-image: url("../../assets/Icon-4.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
    }
  }
  .fourStepsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    button {
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      display: inline-block;
      height: 6rem;

      width: 12rem;
      a {
        color: $color-black;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

