//Logging

.loggingButtons {
  display: flex ;
  justify-content: flex-end;
  padding-top: 1rem;
  margin-right: 10%;
button{   font-size: 13px;
  margin-top: 9.5px;
  background-color: white;
  text-decoration: none;
  border: none;
  a {
    font-size: 13px;
    margin-left: 20px;
    color: grey;
    text-decoration: none;
    text-transform: none;
  }


}

}
//Navigation

.navigation {
  width: 100vw;
  //height: 12px;
  margin-top: 1rem;


  nav {

    margin-right: 10%;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        display: inline-block;
        a {
          font-size: 15px;
          margin-left: 20px;
          color: $color-black;
          coursor: pointer;
          text-decoration: none;
          text-transform: none;
        }
      }

  }}
}