//Logging

.loggingButtons {
  display: flex ;
  justify-content: flex-end;
  padding-top: 1rem;
  margin-right: 10%;
button{   font-size: 13px;
  margin-top: 9.5px;
  background-color: white;
  text-decoration: none;
  border: none;
  a {
    font-size: 13px;
    margin-left: 20px;
    color: grey;
    text-decoration: none;
    text-transform: none;
  }


}

}
//Navigation

.navigation {
  width: 100vw;
  height: 12px;
  margin-top: 1rem;


  nav {

    margin-right: 10%;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        display: inline-block;
        a {
          font-size: 15px;
          margin-left: 20px;
          color: $color-black;
          coursor: pointer;
          text-decoration: none;
          text-transform: none;
        }
      }

  }}
}

// Header

.headerImage {
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-position: -14rem 0;
  height: 30rem;

}

.headerMain {
  margin-top: 5rem;
  .headerHeadline {
    h1 {
      font-size: 1.5rem;
      font-weight: 300;
      text-align: center;
    }
    margin-bottom: 1rem;
  }
  .decorationImage1 {
    background-image: url("../../assets/Decoration.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    // margin-left: 7rem;
    width: 13rem;
  }
  .headerButtons {
    padding-left: 2.5rem;
    button {
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      display: inline-block;
      font-size: 1.3rem;
      height: 5rem;
      width: 10rem;
      &:first-of-type {
        margin-right: 2rem;
      }
      a {
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

// HomeThree columns

.threeColumns {
  background-color: $color-yellow;
  margin: 0.2rem 0;

  .columnInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
    h1 {
      text-align: center;
      color: #5E5322;
      font-weight: 300;
      font-size: 90px;
      line-height: 122px;
    }
    h5 {
      color: #3C3C3C;
      font-size: 18px;
      text-align: center;
      margin-bottom: 28px;
      text-transform: uppercase;
    }
    p {
      color: #3C3C3C;
      font-size: 16px;
      font-family: $font-alt;
      font-weight: 300;
      text-align: center;
      width: 100%;
    }
  }
}

// Four steps

.fourSteps {
  margin-top: 2rem;
  .fourStepsHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    .decorationImage2 {
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 4rem;
      margin-left: 1rem;
      margin-top: 0.5rem;
      width: 13rem;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }
  h5 {
    color: #3C3C3C;
    font-size: 18px;
    text-align: center;
    margin-bottom: 28px;

  }
  }
  .fourStepsSteps {
    background-color: $color-grey;
    .fourStepsStep {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 1rem;
      text-align: center;
      .fourStepsImage1 {
        background-image: url("../../assets/Icon-1.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;

      }
      .fourStepsImage2 {
        background-image: url("../../assets/Icon-2.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;

      }
      .fourStepsImage3 {
        background-image: url("../../assets/Icon-3.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;

      }
      .fourStepsImage4 {
        background-image: url("../../assets/Icon-4.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;

      }
    }
  }
  .fourStepsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    button {
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      display: inline-block;
      height: 6rem;

      width: 12rem;
      a {
        color: $color-black;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }



// About us

.aboutUs {
  margin-top: 2rem;
  .aboutUsLeft {
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    padding: 5rem 5rem;
    text-align: center;
    .decorationImage3 {
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 4rem;
      margin-top: 0.5rem;
      width: 13rem;
    }
    h3{
      font-size: 20px;
    }
    p {
      line-height: 2;
    }
    .aboutUsSignature {
      background-image: url("../../assets/Signature.svg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 4rem;
      margin-top: 1rem;
      width: 8rem;
      align-self: flex-end;
    }
  }
  .aboutUsRight {
    .aboutUsPhoto {
      background-image: url("../../assets/People.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 30rem;
    }
  }
}

//WhoWeHelp


.whoWeHelp_Container{
  justify-content: center;
  height: 100vh;
  align-items: center;
  min-height: 600px;
}

.whoWeHelp {
  flex-direction: column;
  align-items: center;
  width: 70.74vw;
  >h1{
    margin-bottom: 2.6vh;
    font-size: 28px;
    color: #3C3C3C;
  }
  img{
    margin-bottom: 5.2vh;
  }
  .typesOfSupports{
    width: 55.80%;
    justify-content: space-between;
    button{
      font-size: 17px;
      border: none;
      padding: 2.39vh 2.21vw;
      background-color: white;
      text-align: center;
    }
    .activeButton {
      border: 2px solid grey;
    }
  }
  >p{
    margin-top: 7.28vh;
    width: 47.62%;
    text-align: center;
    color: #3C3C3C;
    font-size: 16px;
    margin-bottom: 6.68vh;
  }
  .organizations {
    width: 100%;
    .organization {
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 2px solid grey;
      width: 100%;
      h2{
        color: #3C3C3C;
        font-size: 19px;
        line-height: 22.5px;
      }
      p{
        color: #3C3C3C;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 3.22vh;
      }
    }
  }
  .pageNumbers{
    margin-top: 6.55vh;
    button{
      border: none;
      background-color: white;
      color: #3C3C3C;
      font-size: 13px;
      padding: 9px 10px;
      margin-right: 15px;
    }
    .activeButton {
      border: 2px solid grey;
    }
  }
}


// Contact

.contact {
  .contactImg {
    background-image: url("../../assets/Background-Contact-Form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    height: 40rem;
  }
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    .h3 {
      font-size: 17px;
    }
    .decorationImage5 {
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 4rem;
      margin-top: 0.5rem;
      width: 13rem;
    }
    form {
      label {
        font-size: 0.7rem;
      }
      input {
        border-right: none;
        border-left: none;
        border-top: none;
        border-bottom: 1px solid $color-grey;
        margin-bottom: 1rem;
        width: 90%;
        &::placeholder {
          opacity: 0.3;
        }
      }

      textarea {
        background-color: white;
        border: none;
        border-bottom: 1px solid $color-grey;
        cursor: pointer;
        display: inline-block;
        font-family: $font-base;
        font-size: 0.8rem;
        height: 4rem;
        margin-top: 1rem;
        overflow: hidden;
        width: 100%;
        &::placeholder {
          opacity: 0.3;
        }
      }
      input[type="submit"] {
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
        display: inline-block;
        height: 2rem;
        margin-top: 1rem;
        width: 5rem;
      }
    }
  }
}

// Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  p {
    font-size: 0.6rem;
  }
  .footerIcons {
    display: flex;
    justify-content: center;
     .footerFacebook {

       height: 1rem;
       width: 30%;
     }
     .footerInstagram {

       height: 1rem;
       width: 30%;
     }
    .footerLogo {
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}

//login

.login {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  justify-content: center;
  align-items: center;

  .loginForm {
    flex-direction: column;
    align-items: center;
    h1{
      font-size: 29px;
      margin-bottom: 2.6vh;
    }

    .labels {
      background-color: #F0F1F1;
      flex-direction: column;
      padding: 4.16vh 3.6vw;
      align-items: center;
      margin-bottom: 4.16vh;
      margin-top: 6.24vh ;
      margin-left: 3.45vw ;
      margin-right: 3.45vw ;
      label {
        display: block;
        color: #3C3C3C;
        font-size: 12px;

        input {
          margin-top: 9px;
          background-color: #FFFFFFC9;
          color: black;
          background-color: #F0F1F1;
          border: none;
          border-bottom: 1px solid #707070;
        }
      }
      p{
        font-size: 10px;
        color:red;
      }
    }

    button{
      font-size: 13px;
      color: black;
      padding: 9.5px 11px;
      margin-top: 9.5px;
      border: none;
      background-color: white;
      .loginLink{
        text-decoration: none;
        color: black;
      }
    }
    button:last-of-type{
      float: right;
    }
  }
}
.hide{
  display: none;
}

